

#logo{
    float: left;
    margin-top: -2%;
    height: 15rem;
}

.borde{
    margin-top: 5%;
    border-radius: 20px;
    background-color: #faf8f8;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.1);
}

#Regresar{
    border: solid 2px #000000;
    border-radius: 10px;
    width: 12%;
    display: flex;
    text-decoration: none;
    background-color: black;
    color: #fff;
    margin-top: 20px;
    padding-left: 15px;
}