<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>resgistrar los datos personales</title>
</head>
<body>

    <div class="container">
        <div class="row mb-2">
            <div class="col-3 mt-1">
                <img src="../images/logo.png" width="150" height="150" alt="">
            </div>
            <div class="col-9 mt-4">
                <h2>Registrar tus Datos personales</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <label for="Nombre completo">Nombre usuario o Nombre de la empresa</label>
                <input class="form-control" id="nombre" type="text" placeholder="Nombre completo" aria-label="default input example">
            </div>
            <div class="col-6">
                <label for="Numerocelular">Numero celular</label>
                <input class="form-control" id="Numerocelular" type="text" placeholder="Numero de celular" aria-label="default input example">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <label for="Tipo de documento">Tipo de documento</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">RC</option>
                    <option value="2">CC</option>
                    <option value="3">NIT</option>
                </select>
            </div>
            <div class="col-6">
                <label for="Numero de documento">Numero Documento</label>
                <input class="form-control" id="NumeroDocumento" type="text" placeholder="Numero de documento" aria-label="default input example">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <label for="Departamento">Departamento</label>
                <input class="form-control" id="Departamento" type="text" placeholder="Departamento" aria-label="default input example">
            </div>
            <div class="col-4">
                <label for="Municipio">Municipio</label>
                <input class="form-control" id="Municipio" type="text" placeholder="Municipio" aria-label="default input example">
            </div>
            <div class="col-4">
                <label for="Direccion">Direccion</label>
                <input class="form-control" id="Direccion" type="text" placeholder="Direccion" aria-label="default input example">
            </div>
        </div>
        <div class="mt-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Persona Natural
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                     persona Juridica
                </label>
            </div>
        </div>
        <div class="mt-4">
            <label for="formFileSm" class="form-label">Seleccione Rut</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>
            <div class="mt-4 d-grid gap-2 d-md-block d-md-flex justify-content-md-end">
            <button class="btn btn-success" type="button">Guardar</button>
            <a href="../views/roles.html">
                <button class="btn btn-danger" type="button">Cancelar</button>
            </a>
          </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>